
.main-container {
    grid-area: main;
    margin: 5%;
}

.icons-container{
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.little-diamond {
    width: 10px;
}
.little-circle {
    width: 15px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.10em;
    font-size: 2.5em;
    padding: 0 2%;
}
.main-container-paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.main-paragraph {
    font-size: 1em;
    font-style: italic;
    color: grey;
}
#white-circle1 {
    position: absolute;
    z-index: 0;
}
.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 2%;
}

.download-red{
    background-color: var(--primary-color);
    color: white;
    background-color:#ff556e;
	border-radius:28px;
	border:1px solid #ff556e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;;
	font-size:15px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}


/* PARTE DEL MOVIL Y LOS SOCIAL BUTTONS */

.main-mobile{
    margin: 8%;
}

.social-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 14%;
    gap: 5%;
    
}

.social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
    font-weight: 700;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.social-buttons img {
    width: 6vw;
    height: 6vw;
}
.social-buttons-display {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

 .details {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    font-weight: 700;
    padding-top: 8%;
}

#button-ig {
    background-color: #EBE7FA;
}
#button-sa{
    background-color: #daf4ef;
}
#button-ts{
    background-color: #F8E5EA;
}
#button-si{
    background-color: #f8f1de;
}
#button-gtd{
    background-color: #e1f2fa;
}



/* VISTA DE DESCRIPTION */


.description {
    display: flex;
    justify-content: center;
    /* hay que quitar este flex direction para que la vista del desktop no se ponga en column */
    flex-direction: column;
    align-items: center;
    height: 55vh;
    color: grey;
    font-size: 1.2em;
    background-color: var(--secondary-color);
}
.description-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.description-photo {
    width: 46vw;
    height: 46vw;
}

.title-description {
    margin: 3% 0;
    font-size: 1em; 
    font-weight: 700;
    text-align: center;
    color: black;
}

.description p {
    font-style: italic;
    font-size: .8em;
    text-align: center;
}

.description ul {
    font-style: italic;
    font-size: .7em;
    list-style: square;
    align-items: center;
    margin-left: 10%;
    padding: 2%; 
}


.btn-lightbox{
    margin-top: 3%;
}


/* VISTA DEL CALENDARIO */

.mobile-calendar{
    margin-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E8EFF6;
    height: 100vw;
}
.mobile-calendar-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    gap: 3%;
    color:#777777;
	font-family:'Open Sans', sans-serif;;
	font-size:10px;
	padding: 5% 5%;

}
.mobile-calendar button{
   
    background-color:white;
	border-radius:1px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:'Open Sans', sans-serif;;
	font-size: 1.5em;
	padding:1% 2%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    width: 100%;
    gap: 5%;
}

#schedule-btn {
    background-color: #9A67E7;
    border:3px solid #9A67E7;
    color: #ffffff;
}

.details-calendar{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    color: grey;
    font-size: .8em;
    font-weight:lighter;
}
.details-list{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: grey;
    font-size: .8em;
    font-weight:lighter;
    
}

.details-list img {
    display: flex;
    justify-content: center;
    align-items: center;

}
.calendar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy {
    background-color: #ffffff;
    color: #777777;
    border: 2px solid #777777;
}