@import url("./burger-nav.css");
@import url("./variables.css");
@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.view-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    grid-gap: 0.2rem;
    background-color: var(--secondary-color);
    font-family:'Open Sans', sans-serif;

}

.main-container {
    grid-area: main;
    margin: 5%;
}

.icons-container{
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.little-diamond {
    width: 10px;
    /* position: absolute; */
}
.little-circle {
    width: 15px;
    /* position: absolute; */
    /* right: 20px; */
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.10em;
    font-size: 2.5em;
    padding: 0 2%;
}

.main-paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    /* padding: 1% 8%; */
    color: grey;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 2%;
}

.download-red{
    background-color: var(--primary-color);
    color: white;
    background-color:#ff556e;
	border-radius:28px;
	border:1px solid #ff556e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;;
	font-size:15px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}

footer {
    grid-area: footer;
}